body{

    background-color:#e1eedd;
}

.main_section{

    background-color:  #221309;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    
    margin: 40px; 
    margin-left: 20px;
    
    
    align-items: center;
    height: 480px;
    width: 472px;
    border-radius: 15px;
    
    }.main_section p{

text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;

    }
    
    .half-side{
        width:50%;
        
        float: left;
        margin-left: 5%;
        
        margin-left: -10px;
        margin-top: 5px;
        padding-left: 5%;
        
        
        
    }
    
    .half-side img{
        width: 153%;
         
        margin-left: 25px;
    margin-bottom: -90px;
        
    }
    h1{
        font-size: 20px;
    }
    p{
        font-size:smaller;
    }
    







.first-content{

      display: flex;
       flex-direction:column; 

      
      background-color: #e1eedd;

      width: 100%;
   
    
margin-top: 330px;
margin-left: -50px;
    
    border-radius: 5px;
padding: 1%;
row-gap: 45px;
} 

.timing{

    background-color:white;
    color: black;
    width: 60%;
    height: 20%;
   
    border-radius: 10px;
    text-align: center;
   
   
}
.timing a{
    text-decoration: none;


}

.content{

    background-color:#e1eedd;
    
    
    color: whitesmoke;
        
       
        border-radius: 5px;
        display: grid;
        margin-left: 30px;

        
        
        
    }

    .second-fixed{

        background-color: #e1eedd;
        
        width:75%;
    
        
        margin-right: 10%;
        
        
       
        border-radius: 5px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
     
        column-gap: 60px;
        margin-top: -400px;


        
        
        
    }

    .banner img{

width: 100%;

    }
    



footer{

    background-color: #221309; 
   color: whitesmoke;

   text-align: center;

height: 40vh;

   
}
hr{
   width:80%;

   margin-left: 10%;
color: darkgrey;
margin-top: -1px;
}

.footer-content ul li{

   list-style: none;
   display:grid;
   
   padding: 0 15px; 
   margin-left: -25px;
   
   
   }